
.navbar-container {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Making the background semi-transparent */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  /* Adding a subtle shadow */
    margin-bottom: 20px;
    transition: rgb(97, 236, 97);
    background-color:rgba(12, 5, 5, 0.74);  /* Smooth transition */
}

.logo {
    width: 100px;
    height: 50px;
}

.nav-link {
    color: solid black; 
     /* Default color for links */
     font-size: 20px;
     font-weight: bold;
}

.nav-link:hover {
    color :yellow;
    text-decoration: underline;
    text-decoration-color: red;  /* Green underline */
}
.button-logout {
    
    border-color: red;
    border-width: 1px;
    color: red;
    font-weight: bold;


}
