.container {
    margin: auto;
    width: 40%;
    margin-bottom: 10px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .formLabel {
    font-weight: bold;
    margin-top: 10px;
  }
  
  .inputGroup {
    display: flex;
    align-items: center;
  }
  
  .inputField {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .passwordButton {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signUpButton {
    
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color:red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  